@import url('../mainColors/style.css');

/* Base Styles */
* {
    font-size: 15px;
    font-family: 'JetBrains Mono Nerd';
    border: none;
}

window#waybar {
    all: unset;
    background: transparent;
}

/* Module Containers */
.modules-left,
.modules-center{
    padding: 7px;
    margin: 10px 0 5px 10px;
    border-radius: 10px;
    background: alpha(@background, 0.9);
}

.modules-center {
    margin: 10px 0 5px 0;
}

.modules-right {
    margin: 10px 10px 5px 0;
}

/* Workspaces */
#workspaces {
    padding: 0 5px;
}

#workspaces button {
    all: unset;
    padding: 0 5px;
    color: alpha(@color9, 0.4);
    transition: color 0.2s ease;
}

#workspaces button:hover {
    color: @color9;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 0.5);
}

#workspaces button.active {
    color: @color9;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

/* System Indicators */
#memory {
    border-radius: 10px 0 0 10px;
}

#backlight {
    border-radius: 0 10px 10px 0;
}

#tray {
    border-radius: 10px 0 0 10px;
    margin-left: 10px;
}

#custom-notification {
    padding-right: 10px;
    border-radius: 0 10px 10px 0;
    background: alpha(@background, 0.9);
}

/* Common Module Styles */
#clock,
#bluetooth,
#network,
#cpu,
#memory,
#temperature,
#backlight,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#tray,
#custom-wakatime {
    color: @color7;
    background: alpha(@background, 0.9);
    padding: 0 7px;
    transition: all 0.3s ease;
}

/* Hover Effects */
#bluetooth:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#backlight:hover,
#memory:hover,
#temperature:hover,
#pulseaudio:hover,
#pulseaudio.microphone:hover {
    color: @color9;
}

/* Battery States */
#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation: blink 0.5s linear infinite alternate;
}

/* Clock */
#clock {
    padding-right: 10px;
    color: @color7;
}

/* Tray Menu */

#tray menu * {
    padding: 0 7px;
    transition: all 0.3s ease;
}

/* Animation */
@keyframes blink {
    to {
        opacity: 0.7;
    }
}