* {
    border: none;
    border-radius: 0px;
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgb(21, 18, 27);
    color: #ffffff;
}

#workspaces, #tray {
    margin-top: 4px;
    margin-bottom: 4px;
    background: #202020;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#workspaces button {
    padding: 2px 0;
    color: #313244;
    border-radius: 10px;
}

#workspaces button.active {
    color: #ffffff;
    background: #45264d;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 20px;
}

#workspaces button:hover {
    color: #fff;
    background: unset;
}

#custom-wakatime {
    transition: 0.3s;
}

#custom-wakatime {
    color: #fa87b7;
}

#temperature {
    border-radius: 20px 0px 0px 20px;
}

#temperature.critical {
    color: #eba0ac;
}

#custom-spotify {
    margin-left: 10px;
    color: #80c57a;
    letter-spacing: 2px;
}

#battery {
    margin-left: 10px;
}

#custom-power_profile,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#cpu,
#memory,
#tray,
#custom-notification,
#custom-vpnstatus,
#custom-wakatime,
#backlight {
    opacity: 0.8;
    padding-left: 6px;
    padding-right: 6px;    
    font-family: "Jetbrains Mono Nerd";
    letter-spacing: 1px;
}

