* {
    border: none;
    border-radius: 0;
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
    border-radius: 5px;
}

window#waybar {
    background: rgba(85, 0, 255, 0);
    color: #ffffff;
}

tooltip {
    background: #1e1e2e;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}
/* custom/updater */
#window,
#clock,
#battery,
#pulseaudio,
#network,
#mpris,
#bluetooth,
#custom-temperature,
#custom-memory,
#custom-updater,
#tray,
#power,
#motherboard,
#backlight {
    background: rgba(148, 133, 184, 0.281);
    opacity: 1;
    padding: 0px 10px;
    border-radius: 5px;
    margin-top: 10px;
    /* border: 1px solid rgba(131, 131, 131, 0.822); */
}

#cpu, #memory, #temperature, #disk {
    padding: 0 5px;
    margin: 0 5px;
    font-size: 14px;
}

#custom-memory {
    color: #eba0ac;
}

#custom-temperature {
    border-radius: 5px;
}

#custom-temperature.critical {
    color: #f00;
}

#backlight {
    border-radius: 5px;
    padding-right: 5px;
}

#tray {
    border-radius: 5px;
}

/* WORKSPACES */

#workspaces {
    background: rgba(148, 133, 184, 0.281);
    border-radius: 5px;
    margin-top: 10px;
    padding: 3px 5px;
}

#workspaces button {
    color: #636777;
    margin-right: 5px;
    padding: 5px 8px 5px 3px;
}

#workspaces button:last-child {
    color: #636777;
    margin-right: 0px;
}

#workspaces button.active {
    background-color: #f03054;
    border-radius: 5px;
    color: #fff;
    /* padding: 0 8px 0 3px; */
}

#workspaces button.focused {
    color: #ffffff;
    background: #f03054;
    border-radius: 5px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 5px;
}

#workspaces button:hover {
    background: #fff;
    color: #f03054;
    border-radius: 5px;
}

#window {
    border-radius: 5px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: #ffffff;
    border-radius: 5px;
}

#network {
    color: #ffffff;
    border-radius: 5px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #ffffff;
    border-radius: 5px;
} 

#pulseaudio {
    color: #ffffff;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #fff;
    border-left: 0px;
    border-right: 0px;
    border-radius: 5px;
    margin-left:5px;
}

#battery {
    color: #a6e3a1;
    border-radius: 5px;
    border-left: 0px;
    margin-left:5px;
}
#battery.warning {
    color: #FFA500;
}
#battery.critical {
    color: #F00;
} 
#custom-moon {
    border-radius: 5px;
    border-right: 0px;
}
